@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@layer components {
  .flex-center {
    @apply flex flex-row items-center justify-center;
  }

  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  body {
    @apply text-normal
  }
}

body {
  color: #151e12;
  background-color: #fafafa;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

svg {
  cursor: pointer;
}



.custom-daypicker .rdp-month_caption {
  display: none;
}

.custom-daypicker .rdp-month {
  width: 100%;
  max-width: none;
}

.custom-daypicker .rdp-months {
  width: 100%;
  max-width: none;
}

.custom-daypicker table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 12px
}